<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>View Profile</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
</head>
<body>
    <header class="header mb-5">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a href="index.html" class="navbar-brand home">
                    E-Commerce<span class="sr-only">E-Commerce</span>
                </a>
                <div id="navigation" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto"> 
                    </ul>
                    <div class="navbar-buttons d-flex justify-content-end">
                        <div id="cartoverview" style="display:none !important" class="navbar-collapse collapse d-none d-lg-block">
                            <a href="viewCart.html" class="btn btn-primary navbar-btn">
                                <i class="fa fa-shopping-cart"></i>
                                <span id="sCartCount">0 items in cart</span>
                            </a>
                            <div class="dropdown">
                                <a href="javascript:void(0)" id="btnUserView" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                                    <i class="fa fa-user"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="viewProfile.html">View Profile</a> 
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="logout()">Log Out</a>     
                                </div>
                            </div>
                          <!--a href="javascript:void(0)" onclick="logout()" >Logout</a>-->
                      </div>
                      <div id="loginDiv" style="display:none !important" class="navbar-collapse collapse d-none d-lg-block">
                          <a href="registration.html" class="btn btn-primary navbar-btn">
                              <span>Sign In / Sign Up</span>
                          </a>
                      </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="all">
        <div id="content">
            <div class="container"> 
                <div class="row">
                    <div id="blog-post" class="col-lg-12 col-md-12">
                        <div class="box">
                          <h1>View Profile</h1>
                          <div id="comment-form"> 
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>User name <span class="required">*</span></label>
                                            <input type="text"  id="txtUserName" placeholder="User Name" class="form-control" />
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Email <span class="required">*</span></label>
                                            <input type="text" id="txtEmail" placeholder="Email" class="form-control" />
                                        </div>
                                    </div>
                                </div> 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Shipping Address <span class="required">*</span></label>
                                        <textarea id="txtShippingAddress" rows="2" placeholder="Shipping Address" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <a href="javascript:void(0)" onclick="EditProfile()" class="btn btn-primary">
                                        Submit Changes</a>
                                </div>
                            </div> 
                          </div>  
                          <div id="comments">
                          </div>
                         </div>
                        <!-- /.box-->
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-center text-lg-left">©2018 .</p>
                </div>
            </div>
        </div>
    </div> 
    <script>
        var productId='';
        var Rating=0;

        $(function () {
            checkUserName(); 
            getCartCount();  
        });

        function logout(){
            localStorage.clear();
            window.location.href="index.html";
        }
 
        function checkUserName() {
            if (localStorage.getItem('userid') != 'undefined') {
                $.ajax({
                    url: 'http://localhost:4000/api/users/getUserInfo?userId=' + localStorage.getItem('userid'),
                    dataType: 'json',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (e) {
                        if (e.code == 200) {
                            $('#loginDiv').hide();
                            $('#cartoverview').show();
                            $('#txtUserName').val(e.data.userName);
                            $('#txtEmail').val(e.data.email);
                            $('#txtShippingAddress').val(e.data.shippingAddress);
                            getCartCount();
                        }
                        else {
                            $('#loginDiv').show();
                            $('#cartoverview').hide();
                            window.location.href="index.html";
                        }
                    }
                });
            }
            else {
                $('#loginDiv').show();
                $('#cartoverview').hide();
                window.location.href="index.html";
            }
        }
 
        function getCartCount() {
            $.ajax({
                url: 'http://localhost:4000/api/users/getCartData?userId=' + localStorage.getItem('userid'),
                dataType: 'json',
                type: 'GET',
                contentType: 'application/json',
                success: function (e) {
                    if (e.code == 200) {
                        $('#sCartCount').html(e.data.length+' items in cart');
                    }
                    else {
                        $('#loginDiv').show();
                        $('#cartoverview').hide();
                        window.location.href="index.html";
                    }
                }
            });
        }
 
        function EditProfile(){  
            $.ajax({
                url: 'http://localhost:4000/api/users/editUserInfo',
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    userName:$('#txtUserName').val(),
                    shippingAddress:$('#txtShippingAddress').val(),
                    password:'123456',
                    userId: localStorage.getItem('userid') 
                }),
                success: function (e) {
                    if (e.code == 200) { 
                        $.alert('Profile updated successfully', { 
                            closeTime: 3000,
                            autoClose: true,
                            position: ["top-right"], 
                            type: 'success' 
                        });
                        setTimeout(function(){ window.location.href="viewProfile.html"; }, 3000); 
                    }
                    else { 
                        $.alert('Unable to perform action, please try again', { 
                            closeTime: 3000,
                            autoClose: true,
                            position: ["top-right"], 
                            type: 'warning' 
                        }); 
                    }
                }
            }); 
        }
 
        
    </script>
</body>
</html>
